<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>for {${1:set i 0}} {${2:\$i &lt; \$n}} {${3:incr i}} {
	${4}
}
</string>
	<key>name</key>
	<string>for...</string>
	<key>scope</key>
	<string>source.tcl</string>
	<key>tabTrigger</key>
	<string>for</string>
	<key>uuid</key>
	<string>35FD4583-34CA-446A-958B-D6446220B2BF</string>
</dict>
</plist>
