<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>proc ${1:name} {${2:args}} \\
{
	${3}
}
</string>
	<key>name</key>
	<string>proc...</string>
	<key>scope</key>
	<string>source.tcl</string>
	<key>tabTrigger</key>
	<string>proc</string>
	<key>uuid</key>
	<string>16FB1812-6644-416D-8544-03F7E9C7C45E</string>
</dict>
</plist>
