<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>while {${1:condition}} {
	${2}
}
</string>
	<key>name</key>
	<string>while...</string>
	<key>scope</key>
	<string>source.tcl</string>
	<key>tabTrigger</key>
	<string>while</string>
	<key>uuid</key>
	<string>6F958C1C-2A05-4794-A551-4C3ABAAEE817</string>
</dict>
</plist>
