<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Miscellaneous</string>
	<key>scope</key>
	<string>source.tcl</string>
	<key>settings</key>
	<dict>
		<key>highlightPairs</key>
		<array>
			<array>
				<string>[</string>
				<string>]</string>
			</array>
			<array>
				<string>{</string>
				<string>}</string>
			</array>
		</array>
		<key>increaseIndentPattern</key>
		<string>\{[^"'}]*$</string>
		<key>smartTypingPairs</key>
		<array>
			<array>
				<string>[</string>
				<string>]</string>
			</array>
			<array>
				<string>{</string>
				<string>}</string>
			</array>
			<array>
				<string>"</string>
				<string>"</string>
			</array>
		</array>
	</dict>
	<key>uuid</key>
	<string>806FD10F-E1F2-4B59-A049-83014D4CBD16</string>
</dict>
</plist>
