[user]
	name = Paul Miller
	email = paul@paulmillr.com

[github]
  user = paulmillr

[alias]
  discard = reset --hard HEAD
  ci = commit
  ch = checkout
  d = diff

  graph = log --graph
  last = log -n 10
  url = !git remote -v|sed "'s|.*git[:@]\\(.*\\).git.*|http://\\1|;s|m:|m/|'"|uniq|xargs open
  whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
  rmtag = "!sh -c 'git tag -d $1; git push origin :refs/tags/$1'"

  release   = !sh "$HOME/Developer/personal/dotfiles/git-extras/git-release.sh"
  setup     = !zsh "$HOME/Developer/personal/dotfiles/git-extras/git-setup.sh"
  summary   = !zsh "$HOME/Developer/personal/dotfiles/git-extras/git-summary.sh"

  pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1; } ; f"

  ghfork = !sh "$HOME/Developer/personal/dotfiles/git-extras/git-ghpull.sh"
  cleanup = !ruby "$HOME/Developer/personal/dotfiles/git-extras/git-cleanup.rb"

[push]
  default = simple

[color]
  ui = true

[core]
  editor = subl
  excludesfile = ~/.gitignore
  #pager = diff-highlight | less -r

[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
  graph = true

[advice]
  statusHints = false

[log]
  abbrevCommit = true

# URL shorthands
# gh:paulmillr/dotfiles
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "gh:"
  pushInsteadOf = "git://github.com/"

# gist:3928760
[url "git@gist.github.com:"]
  insteadOf = "gist:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[mergetool]
	keepBackup = false
[ghi]
	token = !security find-internet-password -a paulmillr -s github.com -l 'ghi token' -w
[pull]
	rebase = true
