<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>1/2</string>
		<key>with</key>
		<string>½</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>1/3</string>
		<key>with</key>
		<string>⅓</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>2/3</string>
		<key>with</key>
		<string>⅔</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>1/4</string>
		<key>with</key>
		<string>¼</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>3/4</string>
		<key>with</key>
		<string>¾</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>lambda</string>
		<key>with</key>
		<string>λ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>alpha</string>
		<key>with</key>
		<string>α</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>beta</string>
		<key>with</key>
		<string>β</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>gamma</string>
		<key>with</key>
		<string>γ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>omega</string>
		<key>with</key>
		<string>ω</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:-&gt;:</string>
		<key>with</key>
		<string>→</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:&lt;-:</string>
		<key>with</key>
		<string>←</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:=&gt;:</string>
		<key>with</key>
		<string>⇒</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>mu</string>
		<key>with</key>
		<string>μ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>tau</string>
		<key>with</key>
		<string>τ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:alt:</string>
		<key>with</key>
		<string>⌥</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:shift:</string>
		<key>with</key>
		<string>⇧</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:cmd:</string>
		<key>with</key>
		<string>⌘</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:ctrl:</string>
		<key>with</key>
		<string>⌃</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:backspace:</string>
		<key>with</key>
		<string>⌫</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>грн</string>
		<key>with</key>
		<string>₴</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:compose:</string>
		<key>with</key>
		<string>○</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:&lt;=:</string>
		<key>with</key>
		<string>⇐</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:euro:</string>
		<key>with</key>
		<string>€</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:uah:</string>
		<key>with</key>
		<string>₴</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:multiply:</string>
		<key>with</key>
		<string>×</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:forall:</string>
		<key>with</key>
		<string>∀</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:exists:</string>
		<key>with</key>
		<string>∃</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:+1:</string>
		<key>with</key>
		<string>👍</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:shit:</string>
		<key>with</key>
		<string>💩</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:-1:</string>
		<key>with</key>
		<string>👎</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:return:</string>
		<key>with</key>
		<string>↩</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>0_0</string>
		<key>with</key>
		<string>ಠ_ಠ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>0_o</string>
		<key>with</key>
		<string>ಠ_ರೃ</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>1/5</string>
		<key>with</key>
		<string>⅕</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>1/6</string>
		<key>with</key>
		<string>⅙</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:esc:</string>
		<key>with</key>
		<string>⎋</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>:backspace:</string>
		<key>with</key>
		<string>⌫</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>^2</string>
		<key>with</key>
		<string>²</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>^3</string>
		<key>with</key>
		<string>³</string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>delta</string>
		<key>with</key>
		<string>δ</string>
	</dict>
</array>
</plist>
