<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>require_cmd "${TM_HG:=hg}" "If you have installed hg, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_HG&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

ruby -r "$TM_SUPPORT_PATH/lib/shelltokenize.rb" &lt;&lt;END
	hg = ENV['TM_HG'] || "hg"
	puts %x{#{hg} add #{TextMate.selected_paths_for_shell}}
END

</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^M</string>
	<key>name</key>
	<string>Add</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>uuid</key>
	<string>A6F3AB3E-FB21-4E93-B672-E41100E88E41</string>
</dict>
</plist>
