<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>require_cmd "${TM_HG:=hg}" "If you have installed hg, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_HG&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

if [[ -d "$TM_PROJECT_DIRECTORY" ]]
   then export WorkPath="$TM_PROJECT_DIRECTORY"; cd "$TM_PROJECT_DIRECTORY"
   else export WorkPath="$TM_DIRECTORY"
fi

revs=$("$TM_HG" log -q "$TM_FILEPATH" \
	2&gt; &gt;(CocoaDialog progressbar --indeterminate \
		--title "Diff Revisions…" \
		--text "Retrieving List of Revisions…" \
	))

revs=`osascript &lt;&lt;END
	set theResult to false
	set AppleScript's text item delimiters to {"\n","\r"}
	tell app "SystemUIServer"
		activate
		set ourList to (every text item of "$revs")
		if the count of items in ourList is 0 then
			display dialog "No revisions of file '$TM_FILENAME' found" buttons ("Continue") default button 1
		else
			tell app "SystemUIServer" to choose from list (every text item of "$revs") with prompt "Please choose two revisions of '$TM_FILENAME':" with multiple selections allowed

			set theitems to the result
			if theitems is not false then
				if the count of items in the theitems is less than 2 then
					display dialog "Please select two revisions (hold down the shift key to select multiple revisions)." buttons ("Continue") default button 1
				else
					set theResult to (item 1 of theitems) &amp; return &amp; (item 2 of theitems)
				end if
			end if 
		end if
		set the result to theResult
	end tell
END`

# exit if user canceled
if [[ $revs = "false" ]]; then
	osascript -e 'tell app "TextMate" to activate' &amp;&gt;/dev/null &amp;	exit_discard
fi


revs=`echo "$revs" | tr '\r' '\n' | cut -d ":" -f 1`
revs=( $revs )



rev1=${revs[0]#r}
rev2=${revs[1]#r}

ruby -I "$TM_BUNDLE_SUPPORT/" &lt;&lt;END
	if ENV['TM_HG_EXT_DIFF']
		require 'hg_extdiff'
	else
		require 'hg_diff'
	end
	Mercurial::diff_active_file("-r$rev2 -r$rev1", "Diff Revisions…")
END
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^M</string>
	<key>name</key>
	<string>Diff Revisions...</string>
	<key>output</key>
	<string>openAsNewDocument</string>
	<key>uuid</key>
	<string>A60EB1AE-66C8-4791-940B-6601635A7899</string>
</dict>
</plist>
