<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>require_cmd "${TM_HG:=hg}" "If you have installed hg, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_HG&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

if [[ -d "$TM_PROJECT_DIRECTORY" ]]
   then export WorkPath="$TM_PROJECT_DIRECTORY"; cd "$TM_PROJECT_DIRECTORY"
   else export WorkPath="$TM_DIRECTORY"; cd "$TM_DIRECTORY"
fi
      
FORMAT_LOG="${TM_BUNDLE_SUPPORT}/format_log.rb"
HG_STYLE="${TM_BUNDLE_SUPPORT}/map-log.changelog"

if [[ $TM_HG_LOG_LIMIT != 0 ]]
	then HG_LIMIT="-l ${TM_HG_LOG_LIMIT:=10}"
fi

HG_STYLE_TMP='"$HG_STYLE"'
TM_HG_TMP='"$TM_HG"'

if [[ -z $TM_SELECTED_FILES ]]; then
   "$TM_HG" log $HG_LIMIT --style "$HG_STYLE" "$TM_FILEPATH" 2&gt;&amp;1 |ruby -- "$FORMAT_LOG"
else
   eval "$TM_HG_TMP" log $HG_LIMIT --style "$HG_STYLE_TMP" "$TM_SELECTED_FILES" 2&gt;&amp;1 |ruby -- "$FORMAT_LOG"
fi</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^M</string>
	<key>name</key>
	<string>Log</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>DF26FEB2-2E2C-4764-B766-869113AF6E00</string>
</dict>
</plist>
