<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>require_cmd "${TM_HG:=hg}" "If you have installed hg, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_HG&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

if [[ -z $TM_SELECTED_FILES ]]; then
   "$TM_HG" revert "$TM_FILEPATH"
else
   eval "$TM_HG" revert $TM_SELECTED_FILES
fi

# will cause current file to be re-loaded
rescan_project
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^M</string>
	<key>name</key>
	<string>Revert</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>uuid</key>
	<string>819B19AC-758D-42CB-903F-73A5EDD716BD</string>
</dict>
</plist>
