<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>: ${TM_HASKELL:=runhaskell}
require_cmd "$TM_HASKELL"

"$TM_HASKELL" "$TM_FILEPATH" 2&gt;&amp;1 | haskellmate

</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Run</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.haskell</string>
	<key>uuid</key>
	<string>3B083BE7-9812-4F06-A758-CCAD9514E797</string>
</dict>
</plist>
