<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; template.scala &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>scala</string>
	<key>name</key>
	<string>New script</string>
	<key>uuid</key>
	<string>B052C63E-7F3B-43C8-9F22-37284B5964CB</string>
</dict>
</plist>
